<footer class="navbar">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>FairBnC</h4>
        <ul>
          <li>About us</li>
          <li>Career</li>
          <li>Press</li>
          <li>Policies</li>
          <li>Help</li>
          <li>Diversity & Belonging</li>
        </ul>
      </div>
      <div class="item col-lg-4">
        <h4>FairBnC</h4>
        <ul>
          <li>About us</li>
          <li>Career</li>
          <li>Press</li>
          <li>Policies</li>
          <li>Help</li>
          <li>Diversity & Belonging</li>
        </ul>
      </div>
      <div class="item col-lg-4">
        <h4>FairBnC</h4>
        <ul>
          <li>About us</li>
          <li>Career</li>
          <li>Press</li>
          <li>Policies</li>
          <li>Help</li>
          <li>Diversity & Belonging</li>
        </ul>
      </div>
    </div>
    <div class="navbar">
    </div>
    <div class="row">
      <div class="col-lg-5 pull-left">
        <span style="font-size:1.25em;"><%= image_tag("fairbnc-favicon.png", style:"height:30px;")%>&nbsp; &copy; FairBnC.Inc | Created by Chia Shanq Yeet </span>
      </div>
      <div class="col-lg-4 pull-right">
        <span style="font-size:1.25em;">Terms &nbsp; Privacy &nbsp; Sitemap &nbsp; <i class="fa fa-facebook"></i> &nbsp; <i class="fa fa-twitter"></i> &nbsp;<i class="fa fa-instagram"></i></span>
      </div>
    </div>
  </div>
</footer>
