<footer class="navbar" id="footer1">
  <div class="container">
    <div class="row">
      <ul class="nav navbar-nav text-align align-center">
        <li style="font-size:1.25em;"><a href="#" alt="">About us</a></li>
        <li style="font-size:1.25em;"><a href="#" alt="">Career</a></li>
        <li style="font-size:1.25em;"><a href="#" alt="">Press</a></li>
        <li style="font-size:1.25em;"><a href="#" alt="">Policies</a></li>
        <li style="font-size:1.25em;"><a href="#" alt="">Help</a></li>
        <li style="font-size:1.25em;"><a href="#" alt="">Diversity & Belonging</a></li>
      </ul>
    </div>
    <div class="row" id="footer2">
      <div class="col-lg-5 pull-left">
        <span style="font-size:1.25em;"><%= image_tag("fairbnc-favicon.png", style:"height:30px;")%>&nbsp; &copy; FairBnC.Inc | Created by Chia Shanq Yeet </span>
      </div>
      <div class="col-lg-4 pull-right">
        <span style="font-size:1.25em;">Terms &nbsp; Privacy &nbsp; Sitemap &nbsp; <i class="fa fa-facebook"></i> &nbsp; <i class="fa fa-twitter"></i> &nbsp;<i class="fa fa-instagram"></i></span>
      </div>
    </div>
  </div>
</footer>
